
.header {
    background-color:lightblue;
    padding:0px 40px;
    display:flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
 }
 
 .logo{
    color:blue;
    font-size: 40px;
    font-weight: 600;

 }

ink{
   text-decoration: none;
}
 .search-bar {
    width:80%;
    display: flex;
    justify-content: center;

 }

 form{
    display: flex;
    justify-content: center;
    width: 70%;

}
 button {
    padding: 0px 8px;
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    border-radius: 10px;
    border: none;
    margin-left: 3px;
}


 input{
    font-size: 18px;
    width: 100%;
    padding: 5px 5px 5px 10px;
    height: 38px;
    outline:none;
    border-radius: 10px;
    border: none;
 }