.sidebar {
    background-color: rgb(5, 41, 53);;
    padding: 20px;
    width:20%;
  }

  .sidebar h1{
    color:white;
    /* text-align: center; */
    padding-top: 1.7rem;
    /* margin-bottom:1.7rem ; */
    font-family: 'Star Wars', sans-sherif;
    font-size:x-large;
  }

  .favorite{
    list-style-type: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
.favorite li{
  height: 3rem;
  padding: 1rem;
  
}

  .favorite li:nth-child(even){background-color: #f2f2f2;}
  .favorite li:nth-child(odd){background-color: white;}
  
  .favorite li:hover {background-color: #ddd;}
  