*{
  margin:0;
  padding: 0;
  box-sizing: border-box;  
}


.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.content {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 20px;
}


.main-content {
  width: 80%;
  padding: 20px;
}